body, html {
    font-family: 'Noto Sans KR', sans-serif;
}

#orderContainer {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#orderContainer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#orderContainer p {
    font-size: 18px;
    margin-bottom: 10px;
}

#orderContainer input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#orderContainer button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#orderContainer button:hover {
    background-color: #0056b3;
}

#savedSeedsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.seed-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;               /* 패딩 감소 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex: 0 0 150px;             /* 폭 감소 */
    margin-bottom: 10px;
    height: auto;
}

.seed-card h3 {
    margin-top: 0;
    color: #333;
    font-size: 1em;              /* 제목 폰트 크기 감소 */
    font-weight: bold;
}

.seed-card p {
    color: #666;
    font-size: 0.8em;            /* 문단 폰트 크기 감소 */
    margin-top: 4px;             /* 상단 여백 감소 */
    line-height: 1.3;            /* 줄 간격 조정 */
}

#seedInputSection, #groupControls {
    display: none;
}
